<h1><%= @artist.name%> (Artist)</h1>

<h3>Pieces held by our gallery:(Name, Category, Displayed Since, Artist)</h3>

<div class="show_info">
  <% @artist.exhibits.each do |exhibit| %>
  <div class="textp">
  <p> <%= exhibit.name %> </p>
  <p> <%= exhibit.category %> </p>
  <p> <%= exhibit.displayed_since %> </p>
  <p> <%= @artist.name %> <p>
    </div>
  <img class="artist_pic" src="<%= exhibit.view %>"/>
  <% end %>
</div>
